/** @format */
body {
  font-family: "Bebas Neue", cursive;
}
.container {
  max-width: 400px;
  height: 500px;
  padding: 30px;
  border: none;
  border-radius: 10px;
  background-color: #4a7496;
  margin-top: 50px;
}

#text-input-here {
  font-size: 17px;
  text-align: center;
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: white;
}

.button {
  font-size: 17px;
  text-align: center;

  border-radius: 5px;
  border: 1.5px solid #edeef2;
  background-color: #4a7496;
  color: white;
  transition: 250mm ease-in-out;
}
.button:hover {
  cursor: pointer;
  background-color: white;
  color: #4a7496;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

#huidig {
  font-size: 17px;
  text-align: center;
  border-radius: 5px;
  border: 1.5px solid white;
  background-color: #4a7496;
  color: white;
  transition: 250mm ease-in-out;
}

#huidig:hover {
  cursor: pointer;
  background-color: white;
  color: #4a7496;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  text-align: left;
  padding-top: 20px;
  color: white;
  font-weight: 500;
  font-size: 50px;
}

p {
  text-align: left;
  margin-top: -20px;
}

.lijst {
  float: right;
  list-style-type: none;
}

.fa-wind {
  color: white;
  padding: 0px 10px 0px 0px;
}

.fa-tint {
  color: white;
  padding: 0px 12px 0px 0px;
}

a {
  font-size: 14px;
}

#description {
  text-transform: capitalize;
}

#icon {
  position: relative;
  height: 100px;
  width: 100px;
  margin-bottom: -20px;
}

.float-left {
  position: relative;
  margin-left: 40px;
}

.temperature {
  margin-left: 30px;
  margin-top: -20px;
  font-size: 40px;
  color: white;
}

.stripe {
  position: relative;
  top: -10px;
  font-size: 15px;
  color: #212529;
}

#celsius {
  position: relative;
  top: -10px;
  color: #212529;
  font-weight: bolder;
  margin-bottom: -20px;
  text-decoration: none;
  cursor: pointer;
}

#fahrenheit {
  position: relative;
  top: -10px;
  font-weight: bolder;
  text-decoration: none;
  color: #212529;
  cursor: pointer;
}

#celsius:hover {
  color: #edeef2;
}

#fahrenheit:hover {
  color: #edeef2;
}

hr {
  width: 100%;
  border: 1px solid #edeef2;
  margin: 200px 0px 20px 0px;
}

.weather-forecast h3 {
  text-align: center;
  font-size: 13px;
}

.weather-forecast img {
  display: block;
  margin-left: -10px;
  height: 60px;
  width: 60px;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 12px;
}

h4 {
  text-align: center;
  font-size: 15px;
  margin-top: 40px;
}
